@import "variables.css";
@layer normalize {
    @import "normalize.css";
}

@layer base {


    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1 {
        font-size: var(--font-size-h1);
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    h3 {
        font-size: var(--font-size-h3);
    }

    h4 {
        font-size: var(--font-size-h4);
    }

    html {
        height: 100%;
    }

    body {
        width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-bg);
        color: var(--color-text-primary);
    }

    .popup-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@layer components {
    .btn {
        --btn-display: inline-flex;
        --btn-font-size: var(--font-size-m);
        --btn-text-color: var(--color-text-primary);
        --btn-base-bg-color: var(--color-btn-primary);
        --btn-base-padding: 9px 12px;
        --btn-base-border-radius: 8px;
        --btn-base-border: none;
        --btn-base-border-color: none;
        --btn-hover-bg-color: var(--color-btn-primary-hover);
        --btn-white-space: nowrap;

        display: var(--btn-display);
        font-size: var(--btn-font-size);
        color: var(--btn-text-color);
        background-color: var(--btn-base-bg-color);
        padding: var(--btn-base-padding);
        border-radius: var(--btn-base-border-radius);
        border: var(--btn-base-border);
        border-color: var(--btn-base-border-color);
        cursor: pointer;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        white-space: var(--btn-white-space);
        transition: background-color 0.5s;
        width: 95%;

        &:hover {
            background-color: var(--btn-hover-bg-color);
        }
        &.btn-clear {
            --btn-base-bg-color: var(--color-btn-secondary);
            --btn-hover-bg-color: var(--color-btn-secondary-hover);
        }
    }
}